repos:
    -   repo: https://github.com/astral-sh/ruff-pre-commit
        rev: "v0.5.0"
        hooks:
            -   id: ruff
                args: [ --fix, --ignore=DJ001 ]
                files: \.py$
            -   id: ruff-format
                files: \.py$
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v4.6.0
        hooks:
            -   id: check-merge-conflict
            -   id: mixed-line-ending
                args: [ --fix=lf ]
            -   id: trailing-whitespace
                args: [ --markdown-linebreak-ext=md ]
            -   id: end-of-file-fixer
            -   id: check-yaml
            -   id: check-added-large-files
