name: Build and Push Images

on:
  push:
    branches: [feat/ajout-backend-docker-image]
    tags:
      - 'v*.*.*'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io


jobs:
  build-and-push:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write

    steps:

      - name: checkout repository
        uses: actions/checkout@v4

      # uncomment for main branch
      # - name: Get latest tag
      #   id: get_tag
      #   run: |
      #     git fetch origin main --tags --force

      #     TAG=$(git tag --list "v*.*.*" --merged origin/main --sort=-v:refname | head -n1)
      #     echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV



      # to test on my branch
      - name: Get latest tag
        id: get_tag
        run: |
          git fetch --tags --force

          TAG=$(git tag --list "v*.*.*" --sort=-v:refname --merged feat/ajout-backend-docker-image  | head -n1)
          echo "IMAGE_TAG=$TAG" >> $GITHUB_ENV

      - name: print  tag
        run: echo " Current tag   $IMAGE_TAG"



      - name: lowercase repo name
        run: |
          echo "IMAGE_NAME=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV

      - name: log in to the Container REGISTRY
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push : true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-backend:${{ env.IMAGE_TAG }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-backend:latest


      - name: Build and Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-frontend:${{ env.IMAGE_TAG }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-frontend:latest

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY_TEST }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.TEST_HOST }} >> ~/.ssh/known_hosts

      - name: Change backend name image in the compose file
        run: |
          ssh ${{ secrets.TEST_USER }}@${{ secrets.TEST_HOST }} << 'EOF'
          sudo sed -i "s|image: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-backend.*|image: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-backend:${{ env.IMAGE_TAG }}|" /opt/valorisationdonneemeteo/docker-compose.yml
          EOF


      - name: Change frontend name image in the compose file
        run: |
          ssh ${{ secrets.TEST_USER }}@${{ secrets.TEST_HOST }} << 'EOF'
          sudo sed -i "s|image: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-frontend.*|image: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-frontend:${{ env.IMAGE_TAG }}|" /opt/valorisationdonneemeteo/docker-compose.yml
          EOF






      # - name: Create .env file
      #   run: |
      #     cat > .env <<EOF
      #     DEBUG=False
      #     SECRET_KEY=${{ secrets.SECRET_KEY_TEST}}
      #     ALLOWED_HOSTS=${{ secrets.ALLOWED_HOSTS_TEST }}
      #     DB_NAME=${{ secrets.DB_NAME_TEST }}
      #     DB_USER=${{ secrets.DB_USER_TEST }}
      #     DB_PASSWORD=${{ secrets.DB_PASSWORD_TEST }}
      #     DB_HOST=${{ secrets.DB_HOST_TEST }}
      #     DB_PORT=${{ secrets.DB_PORT_TEST }}
      #     CORS_ALLOWED_ORIGINS=${{ secrets.CORS_ALLOWED_ORIGINS_TEST }}
      #     NUXT_PUBLIC_API_BASE=${{ secrets.NUXT_PUBLIC_API_BASE_TEST }}
      #     EOF



      - name: Clean up & Deploy
        run: |
          ssh ${{ secrets.TEST_USER }}@${{ secrets.TEST_HOST }} << 'EOF'
            sudo docker compose -f /opt/valorisationdonneemeteo/docker-compose.yml down --remove-orphans
            sudo docker compose -f /opt/valorisationdonneemeteo/docker-compose.yml pull
            sudo docker compose -f /opt/valorisationdonneemeteo/docker-compose.yml up -d
          EOF
